html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Montserrat" sans-serif;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat" sans-serif;
	font-size: 16px;
}

p {
	font-family: 'Open Sans';
	font-size: 14px;
}

.container-m {
	max-width: 1024px;
	margin: 0 auto !important;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.container-s {
	max-width: 920px;
	margin: 0 auto !important;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.navbar {
	font-family: "Montserrat" sans-serif;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: transparent !important;
	
}

.nav-link {
	font-size: 16px;
}

.navbar .navbar-brand {
	font-family: 'Montserrat' sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	color: #959597 !important;
	vertical-align: middle;
}

.navbar-brand:hover {
	color: rgb(5, 46, 87);
}

.navbar .navbar-brand img {
	vertical-align: middle;
	margin-right: 0.3em;
}

.navbar .navbar-toggler {
	border: none;
}

.navbar span.navbar-toggler-icon::before {
	outline: none;
}

.navbar-nav {
	text-align: center;
	margin-top: 15px;
	background-color: transparent;
	
}

.navbar-nav .nav-item {
	margin-right: 0;
	margin-top: 15px;
	;
	font-size: 8px;
	;
	font-weight: 400;
	text-transform: capitalize;
	color: #563D7C;
}

.navbar-nav .nav-item .nav-link {
	color: #364655;
	font-weight: 800;
}

.nav-white .navbar-nav {
	background: transparent;
}

.nav-white .nav-item .nav-link {
	text-transform: capitalize;
	color: #FFFFFF;
}

.nav-white .nav-item .nav-link:hover {
	color: #00eaff;
}

.nav-white .navbar-brand {
	color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
	.navbar {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar .navbar-nav {
		padding-bottom: 25px;
	}
	.navbar-nav {
		background-color: #FFFFFF;
	}
	.nav-white .nav-item .nav-link {
		color: #4957B8;
	}
	.navbar .btn-cta {
		padding: 0 30px;
	}
}

@media only screen and (min-width: 240px) {
	.navbar.past-main {
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: rgba(255, 255, 255, 0.99) !important;
		box-shadow: 0 2px 3px 0 rgba(96, 96, 96, 0.1);
	}
	
	.navbar.past-main .navbar-brand {
		color: #4285f4 !important;
	}
	.nav-white.past-main .nav-item .nav-link {
		color: #364655;
		font-weight: 500;
	}
	.navbar.past-main .nav-item .nav-link {
		font-weight: 500;
	}
	.nav-white.past-main .navbar-brand {
		color: #364655;
	}
	
	}
	
	.home {
		background: #f7f8f9;
	}
	.hero {
		padding: 100px 0 100px 0;
		background: #FFF;
	}
	.hero .hero-content {
		text-align: center;
	}
	.hero h5 {
		font-size: 13px;
		font-weight: 600;
		color: #4285f4;
		text-transform: uppercase;
		line-height: 1.2;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
	.hero h2 {
		font-size: 28px;
		font-weight: 700;
		color: #364655;
		color: #364655;
		line-height: 1.3;
		letter-spacing: -1px;
	}
	.hero p {
		font-size: 16px;
		font-weight: 500;
		color: #627382;
		color: #959597;
		line-height: 1.6;
		letter-spacing: 0;
		margin-top: 20px;
	}
	.hero img {
		margin-top: 25px;
	}
	.hero-img-box img {
		margin-top: 50px;
	}
	.form-note p {
		font-size: 12px;
	}
	.hero .row, .app-feature .row, .flex-split .row, .hero .row {
		
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.align-center {
		
		align-items: center!important;
	}
	.chimp-form .mail {
		position: relative;
		background-color: #F9F9F9;
		box-shadow: none;
	    box-sizing: content-box;
		transition: all .3s;
	}
	.form {
		padding-top: 25px;
		position: relative;
	}
	.form input {
		color: #222222;
		font-family: "Montserrat" sans-serif;
		padding: 0;
		font-size: 13px;
		font-weight: 500;
		height: 45px;
		border: 0;
		border-radius: 30px;
		background-color: #F3F3F3;
		outline: none;
		padding: 0 100px 0 20px;
		box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
	}
	.form input:focus {
		outline: none !important;
		border-color: transparent;
	}
	.form .submit-button {
		height: 45px;
		border: 0;
		border-radius: 30px;
		margin-left: -50px;
		padding: 0 25px 0 25px;
		background: #4285f4;
		font-family: "Montserrat" sans-serif;
		font-size: 14px;
		font-weight: 500;
		text-transform: capitalize;
		letter-spacing: 0;
		color: #FFFFFF;
		cursor: pointer;
		outline: none;
		box-shadow: 0 5px 30px rgba(255, 255, 255, 0.05);
		transition: 500ms;
	}
	#response {
		position: absolute;
		left: 20%;
		bottom: -90%;
		vertical-align: middle;
		font-family: 'Montserrat';
		font-size: 13px !important;
		font-weight: 500 !important;
		margin: 0 !important;
		color: #15ccbe;
	}
	#response h4 {
		font-size: 13px !important;
		font-weight: 500 !important;
		text-align: center;
	}
	.success-message {
		color: #33cc33;
		margin-top: 5px;
	}
	.form-note p {
		font-size: 12px;
	}
	@media only screen and (max-width: 420px) {
		.form input {
			padding: 0 75px 0 20px;
		}
		.form .submit-button {
			margin-left: 0;
			margin-top: 10px;
		}
	}
	.btn-action {
		font-family: "Montserrat" sans-serif;
		display: inline-block;
		height: 45px;
		padding: 0 30px;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		line-height: 42px;
		letter-spacing: 2px;
		margin: 20px 0;
		text-transform: uppercase;
		text-decoration: none !important;
		white-space: nowrap;
		cursor: pointer;
		background-color: #387ed1;
		background: #4285f4;
		color: #FFFFFF;
		border: 1px solid transparent !important;
		border-radius: 50px;
		box-sizing: border-box;
		transition: 0.2s;
	}
	.btn-action:hover {
		color: #FFFFFF;
		box-shadow: 0 5px 25px 0 rgba(0, 0, 100, .2);
		border: 1px solid transparent !important;
		outline: none !important;
		text-decoration: none;
	}
	.btn-action:focus, .btn-action:active {
		background: #663399;
		color: #FFFFFF;
		border: 1px solid transparent !important;
		outline: none !important;
	}
	.features {
		padding: 100px 0;
		background: #f8f9fa;
	}
	.features-intro {
		margin-bottom: 50px;
	}
	.features-intro h2 {
		font-size: 28px;
		font-weight: 700;
		color: #364655;
		line-height: 1.3;
		max-width: 540px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.features-intro p {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #5f6368;
		max-width: 540px;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.feature-list {
		margin: 30px 10px;
		padding: 50px 30px;
		border-radius: 10px;
		background: #FFFFFF;
	}
	.card-text {
		margin-top: 25px;
	}
	.card-text h3 {
		font-size: 21px;
		font-weight: 600;
		color: #3a3a47;
		margin-bottom: 15px;
	}
	.card-text p {
		font-size: 15px;
		font-weight: 500;
		color: rgb(129, 129, 152);
		line-height: 1.6;
		max-width: 320px;
		margin: 0 auto;
	}
	.flex-inner {
		margin: 50px 0;
	}
	.flex-inner .f-image {
		padding: 0 35px;
	}
	.flex-inner .f-text {
		padding: 0 35px;
	}
	.flex-inner .f-text {
		flex: 1;
		text-align: center;
	}
	.flex-inner .f-text h1 {
		font-size: 24px;
		font-weight: 700;
		color: #3a3a47;
		line-height: 1.4;
		letter-spacing: -1px;
		margin-top: 20px;
	}
	.flex-inner .f-text p {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #8B92AB;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.flex-inner .f-text .left-content a {
		font-family: "Montserrat" sans-serif;
		font-size: 14px;
		font-weight: bold;
		position: relative;
		display: inline-block;
		text-decoration: none;
	}
	.client-section {
		background-color: #eef2f5;
		padding: 25px 25px;
		border: 1px solid #eef2f5;
	}
	.clients .single img {
		max-width: 50%;
		display: inline-block;
	}
	.pricing-section {
		width: 100%;
		height: 100%;
		padding-top: 100px;
		padding-bottom: 100px;
		background: #FFFFFF;
	}
	.pricing-intro h1 {
		font-size: 28px;
		color: #364655;
		font-weight: 700;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.pricing-intro p {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #8B92AB;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	.pricing-details {
		padding: 50px 0 0 0;
	}
	.pricing-section .table-left, .pricing-section .table-right {
		padding: 15%;
		margin: 0 auto;
		margin-bottom: 30px;
		background-color: #f8f9fa;
		border: transparent;
		max-width: 400px;
	}
	.table-left h3, .table-right h3 {
		font-size: 21px;
		font-weight: 600;
		color: #505050;
		margin-bottom: 15px;
	}
	.table-left p, .table-right p {
		font-size: 14px;
		font-weight: 500;
		color: #505050;
		line-height: 1.4;
	}
	.pricing-section .table-right {
		color: #FFFFFF !important;
		background-color: #26a9e6;
	}
	.pricing-section .table-right h3, .pricing-section .table-right p {
		color: #FFFFFF !important;
	}
	.table-left .icon, .table-right .icon {
		padding: 50px 50px 40px 50px;
	}
	.table-left .icon img, .table-right .icon img {
		width: 60px;
		height: 60px;
		margin: 0 auto;
	}
	.table-left .pricing-details span, .table-right .pricing-details span {
		display: inline-block;
		font-family: 'Serif';
		font-style: italic;
		font-size: 42px;
		font-weight: 600;
		color: #343434;
		margin-bottom: 20px;
	}
	.table-left .pricing-details h2, .table-right .pricing-details h2 {
		font-size: 21px;
		font-weight: 500;
		color: #505050;
		margin-bottom: 30px;
	}
	.table-left .pricing-details p, .table-right .pricing-details p {
		font-size: 14px;
		font-weight: 300;
		color: #505050;
		letter-spacing: 1px;
		line-height: 1.4;
	}
	.table-right .pricing-details h2, .table-right .pricing-details span {
		color: #FFFFFF !important;
	}
	.pricing-section .table-left, .pricing-section .table-right {
		margin-top: 20px;
	}
	.pricing-section .table-center {
		margin-top: 0;
	}
	.pricing-section .btn-action {
		background-color: #26a9e6;
		border-color: #26a9e6;
	}
	.btn-white {
		color: #555da8;
		background-color: #FFFFFF !important;
		border-color: #FFFFFF !important;
	}
	.pricing-section .btn-white:hover {
		color: #555da8;
	}
	.pricing-section .refund-txt {
		font-size: 12px;
		font-weight: 500;
		color: #505050;
	}
	.flex-split {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.flex-split .f-left {
		flex: 1 0 50%;
		background: #F9F9F9;
	}
	.flex-split .f-right {
		flex: 1 0 50%;
		background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(86, 61, 124, 0));
		background-size: cover;
	}
	.flex-split .f-right img {
		margin-top: 0;
	}
	.flex-split .f-left {
		padding: 50px;
	}
	.flex-split .f-left h2 {
		font-size: 28px;
		color: #364655;
		font-weight: 700;
		line-height: 1.2;
		margin-top: 40px;
	}
	.flex-split .f-left p {
		font-size: 16px;
		color: #627382;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: 1px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.flex-split .btn-action {
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: transparent;
	}
	.flex-split .video-icon {
		position: absolute;
		top: 45%;
		left: 50%;
		right: 0;
		outline: none;
	}
	.flex-split .video-icon i {
		display: inline-block;
		position: relative;
		width: 50px;
		height: 50px;
		padding-left: 7px;
		text-decoration: none;
		text-align: center;
		color: #4285f4;
		background: transparent;
		font-size: 45px;
		font-weight: normal;
		border-radius: 50%;
		box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
	}
	.main-2 .flex-split .video-icon i {
		color: rgba(0, 0, 0, 0.9);
	}
	.features-flex {
		padding: 100px 0;
	}
	.flex-intro {
		margin-bottom: 50px;
		text-align: center;
	}
	.flex-intro h2 {
		font-size: 28px;
		font-weight: 600;
		color: #364655;
		line-height: 1.3;
		margin-bottom: 10px;
	}
	.flex-intro p {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #959597;
		max-width: 630px;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.flex-inner {
		margin: 50px 0;
	}
	.flex-inner .f-image {
		padding: 0 35px;
	}
	.flex-inner .f-text {
		padding: 0 35px;
	}
	.flex-inner .f-text {
		
		flex: 1;
		text-align: center;
	}
	.flex-inner .f-text h2 {
		font-size: 24px;
		font-weight: 600;
		color: #364655;
		line-height: 1.3;
		margin-top: 20px;
	}
	.flex-inner .f-text p {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #959597;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.flex-inner .f-text .left-content a {
		font-family: "Montserrat" sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #8798ab;
		position: relative;
		display: inline-block;
		text-decoration: none;
	}
	.flex-inner .f-text .left-content a::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -20%;
		height: 1px;
		width: 50px;
		background: #8798ab;
	
	}
	.flex-inner .f-text .left-content a:hover::after {
		width: 75px;
	}
	.flex-inner .f-text .left-content a:hover {
		text-decoration: none;
	}
	.flex-inner.flex-inverted .f-image {
		order: 1
	}
	.ar-ft-single {
		padding: 100px 0;
	}
	.ar-feature {
		text-align: center;
		display: block;
		align-items: center;
		overflow: hidden;
	}
	.ar-feature .ar-list {
		
		flex: 1 0 40%;
		text-align: left;
	}
	.ar-feature .ar-image {
		
		flex: 1 0 40%;
		margin-left: 0;
	}
	.ar-list ul {
		list-style-type: none;
		overflow: hidden;
		margin-top: 0;
	}
	.ar-list ul li {
		margin-bottom: 30px;
		overflow: hidden;
	}
	.ar-feature .ar-icon {
		float: left;
		width: 15%;
	}
	.ar-feature .ar-icon img {
		margin-top: 0;
		vertical-align: middle;
	}
	.ar-feature .ar-text {
		float: right;
		width: 85%;
	}
	.ar-feature .ar-text h3 {
		font-size: 21px;
		color: #364655;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	.ar-feature .ar-text p {
		font-size: 15px;
		font-weight: 500;
		line-height: 1.6;
		color: #959597;
	}
	.services-section {
		padding: 75px 0;
		background: rgb(246, 246, 253);
	}
	.service-intro {
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.service-intro h2 {
		font-size: 24px;
		font-weight: 600;
		color: #364655;
		line-height: 1.3;
		margin-top: 20px;
	}
	.service-intro p {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #959597;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.service-box {
		text-align: left;
		padding: 20px 20px;
		overflow: hidden;
	}
	.service-box h3 {
		font-size: 18px;
		font-weight: 600;
		color: #364655;
		line-height: 1.3;
	}
	.service-box p {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #959597;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.service-box .service-icon {
		float: left;
		width: 15%;
	}
	.service-box .service-icon img {
		margin-top: 0;
		vertical-align: middle;
	}
	.service-box .service-text {
		float: right;
		width: 80%;
	}
	.yd-stats {
		padding: 100px 0;
		background: #FFFFFF;
	}
	.yd-stats .intro h4 {
		font-size: 12px;
		font-weight: 600;
		color: #4285f4;
		line-height: 1.3;
		letter-spacing: 1px;
		margin-bottom: 15px;
	}
	.yd-stats .intro h2 {
		font-size: 28px;
		font-weight: 700;
		color: #364655;
		line-height: 1.2;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.yd-stats .intro p {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: #959597;
		max-width: 630px;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.yd-stats .counter-up {
		margin-top: 50px;
	}
	.counter-icon {
		padding: 15px;
	}
	.counter-icon img {
		width: 80px;
		height: 80px;
	}
	.counter-text {
		margin: 10px 0;
	}
	.counter-up h3 {
		font-size: 24px;
		font-weight: 700;
		color: #364655;
	}
	.counter-text h2 {
		font-size: 14px;
		font-weight: 500;
		padding: 0.5em;
		color: #364655;
		color: #959597;
	}
	.mySlides {
		display: none
	}
	img {
		vertical-align: middle;
	}
	.slideshow-container {
		max-width: initial;
		position: relative;
		margin: auto;
	}
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	.prev:hover, .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.text {
		color: #f2f2f2;
		font-size: 14px;
		padding: 8px 12px;
		position: absolute;
		top: 12px;
		width: 100%;
		text-align: center;
	}
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	.dot {
		cursor: pointer;
		height: 10px;
		width: 10px;
		margin: 15 4px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.sld {
		background-color: #fff;
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
		height: 404px;
		width: 405px;
	}
	.full {
		background-color: #fff;
		padding-top: 50px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.full p {
		font-size: 16px;
		font-weight: 500;
		color: #444f5a;
		line-height: 1.5;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	.full h2 {
		font-size: 15px;
		font-weight: 600;
		color: #364655;
	}
	.sub {
		padding-top: 60px;
	}
	.sub h6 {
		font-size: 12px;
		font-weight: 500;
		color: #97a6b5;
	}
	.sub a {
		font-size: 12px;
	}
	.fourdiv i {
		font-size: 41px;
		color: pink;
	}
	.fourdiv p {
		font-size: 14px;
		color: rgb(70, 68, 68);
	}
	@media only screen and (min-width: 240px) {
		.section_6 {
			text-align: center;
			background-color: #f6f6fd;
			;
			width: 100%;
			height: 100%;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.inf p {
			color: #8B92AB;
			margin-top: 0;
			margin-bottom: 45px;
		}
	}
	.cta-sm {
		padding: 100px 0 100px 0;
		background: rgba(30, 166, 154, 0.1);
		background: #f8f9fa;
	}
	.cta-sm .cta-content {
		max-width: 768px;
		margin: 0 auto;
	}
	.cta-sm h1 {
		font-size: 28px;
		font-weight: 600;
		color: #364655;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	.cta-sm h4 {
		font-size: 13px;
		font-weight: 500;
		color: #4285f4;
		margin-bottom: 15px;
	}
	.footer-sm {
		padding: 30px 0;
		background: rgba(30, 166, 154, 0.1);
		background: #f6f6fd;
		background: #555da8;
		background: #303c42;
		text-align: center;
	}
	.footer-sm .col-md-4:nth-child(even) {
		text-align: center;
	}
	.footer-sm .footer-logo {
		font-family: "Montserrat" sans-serif;
		font-size: 18px;
		font-weight: 600;
		color: #FFFFFF;
		letter-spacing: 0;
		display: block;
		margin-bottom: 15px;
		text-decoration: none;
	}
	.footer-sm h6 {
		font-size: 13px;
		font-weight: 500;
		color: #FFFFFF;
		letter-spacing: 0;
		display: inline-block;
	}
	.footer-sm ul {
		list-style-type: none;
		text-align: center;
		margin-top: 10px;
	}
	.footer-sm ul li {
		font-family: "Montserrat" sans-serif;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0;
		display: inline-block;
		margin-left: 6px;
		margin-right: 6px;
	}
	.footer-sm ul li a {
		font-size: 13px;
		font-weight: 500;
		position: relative;
		display: inline-block;
		color: #FFFFFF;
		text-decoration: none;
	}
	.footer-sm ul li a:hover:before {
		visibility: visible;
	}
	.no-touch .footer-sm ul li a:hover {
		text-decoration: none;
		color: #000;
	}
	.bk-top {
		position: fixed;
		bottom: 60px;
		right: 30px;
		border-radius: 3px;
		z-index: 90;
		display: none;
		width: 45px;
		height: 45px;
		background: #4285f4;
		color: #f2f2f0;
		border-radius: 50%;
		display: table;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
	}
	.bk-top-txt {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.back-to-top {
		font-family: 'Montserrat';
		font-size: 12px;
		font-weight: 700;
		color: #FFFFFF;
		text-decoration: none;
	}
	.back-to-top:hover {
		color: #FFFFFF;
		text-decoration: none;
		font-size: 13px;
	}
	.back-to-top:focus {
		color: #FFFFFF;
	}
	@media only screen and (min-width: 767px) {
		.navbar-nav {
			margin-top: 0;
		}
		.navbar-nav .nav-item {
			margin-top: 0;
			margin-right: 15px;
			font-size: 7px;
			font-weight: 400;
		}
		.container-s {
			padding-left: 20px;
			padding-right: 20px;
		}
		.hero h2 {
			font-size: 38px;
		}
		.features-intro h2 {
			font-size: 34px;
		}
		.yd-stats .intro h2 {
			font-size: 34px;
		}
		.yd-reviews .intro h1 {
			font-size: 34px;
		}
		.pricing-intro h1 {
			font-size: 34px;
		}
		.cta-sm h1 {
			font-size: 34px;
		}
		.flex-inner {
			position: relative;
			display: flex;
			align-items: center;
			margin: 50px 0;
		}
		.flex-inner .f-image {
			
			flex: 0 0 400px;
		}
		.flex-inner .f-text h1 {
			font-size: 32px;
		}
		.flex-inner .f-text p {
			font-size: 16px;
			font-weight: 500;
		}
		.hero {
			padding: 125px 0 100px 0;
		}
		.hero .feature-img {
			margin-bottom: 0;
		}
		.flex-split {
			flex-direction: row;
		}
		.flex-split .f-left h2 {
			font-size: 34px;
		}
		.flex-split .f-left {
			padding: 50px;
		}
		.flex-split .f-right {
			flex: 1 0 50%;
		}
		.ar-feature {
			display: flex;
			align-items: center;
		}
		.ar-feature .ar-image {
			margin-left: 25px;
		}
		.service-intro h2 {
			font-size: 32px;
		}
		.service-intro p {
			font-size: 16px;
		}
		.service-box {
			padding: 30px 30px;
		}
		.counter-up h3 {
			font-size: 32px;
		}
		.footer-sm {
			text-align: left;
		}
		.footer-sm .footer-logo {
			margin-bottom: 0;
			font-size: 16px;
			display: block;
		}
		.footer-sm ul {
			list-style-type: none;
			text-align: right;
			margin-top: 0;
		}
		#email-error {
			left: 30%;
		}
		#response {
			left: 30%;
		}
		#chimp-email-error {
			left: 30%;
		}
	}
	@media only screen and (min-width: 480px) {
		.container-s {
			padding-left: 40px;
			padding-right: 40px;
		}
		.flex-inner .f-text {
			flex: 1;
			text-align: left;
		}
	}
	@media only screen and (max-width: 766px) {
		.flex-split .f-right {
			flex: 1 0 50%;
			height: 360px;
		}
		.hero-split .f-right {
			flex: 1 0 50%;
			height: 360px;
		}
		.flex-split .video-icon {
			display: none;
		}
		.flex-split .f-left {
			text-align: center;
		}
	}
	@media only screen and (min-width: 1024px) {
		.hero img {
			margin-top: 0;
		}
		.hero .hero-content {
			text-align: left;
		}
		.service-box {
			padding: 30px 50px;
		}
		.service-box .service-text {
			float: right;
			width: 85%;
		}
		.flex-split .f-left {
			padding: 80px 100px;
		}
	}
